﻿@page
@model SPR.Profile.Web.Pages.ChangePasswordModel
@{
    ViewData["Title"] = $"Change password";
}

<h2>Change password</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Model.OldPassword" class="control-label"></label>
        <input type="password" asp-for="Model.OldPassword" class="form-control" />
        <span asp-validation-for="Model.OldPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Model.NewPassword" class="control-label"></label>
        <input type="password" asp-for="Model.NewPassword" class="form-control" />
        <span asp-validation-for="Model.NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Model.RepeatPassword" class="control-label"></label>
        <input type="password" asp-for="Model.RepeatPassword" class="form-control" />
        <span asp-validation-for="Model.RepeatPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-page="Index">Back</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}