﻿@page
@model SPR.Profile.Web.Pages.EditModel
@{
    ViewData["Title"] = $"Edit profile";
}

<h2>Edit profile</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Model.Name" class="control-label"></label>
        <input asp-for="Model.Name" class="form-control" />
        <span asp-validation-for="Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-page="Index">Back</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}