﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-primary" asp-page="Edit">Edit</a>
            @if (Model.CanChangePassword) { 
            <a class="btn btn-outline-primary" asp-page="ChangePassword">Change password</a>
            }
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p><strong>@Html.DisplayNameFor(m => m.Profile.Login):</strong> @Html.DisplayFor(m => m.Profile.Login)</p>
        </div>        
    </div>    
    <div class="row">
        <div class="col">
            <p><strong>@Html.DisplayNameFor(m => m.Profile.Name):</strong> @Html.DisplayFor(m => m.Profile.Name)</p>
        </div>
    </div>
</div>

<h4>Clients</h4>

<div class="container">

    <ul class="list-group list-group-flush">
        @foreach (var item in Model.Clients) {
                <li class="list-group-item">@Html.DisplayFor(m => item.Title)</li>
        }
    </ul>
</div>


